/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

body{
    background: #d3ffa7;
}

input::-webkit-input-placeholder {
color: #c19227 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #c19227 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #c19227 !important;  
}
 
.custom-tab { display:inline-block; 
       margin-left: 40px; } 
 
input:-ms-input-placeholder {  
color: #c19227 !important;  
}

textarea::-webkit-input-placeholder {
color: green !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: green !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: green !important;  
}
 
textarea:-ms-input-placeholder {  
color: green !important;  
}

.footer {
  position: relative;
  text-align: center;
  margin-top: 70px; /* negative value of footer height */
  height: 70px;
  clear:both;
  padding-top:20px;
} 